table {
    width: 100%;
    background-color: black;
    color: white;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid white;
}

th {
    background-color: #333;
    color: white;
    font-weight: bold;
}

td button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

td button:hover {
    background-color: #a30808;
}

h1 {
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border-bottom: 1px solid black;
    padding: 10px;
    background-color: white;
}

.home {
    display: flex;
    justify-content: flex-end;
}