<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delivery</title>
    <link rel="stylesheet" th:href="@{/css/addAdmin.css}">
</head>
<body>
<div class="addAdmin-form">
    <h2>Add Admin</h2>
    <form th:action="@{/admin/addAdmin}" th:method="POST" th:object="${user}">
        <p><input type="text" th:field="*{username}" placeholder="Username"/></p>
        <p><input type="email" th:field="*{email}" placeholder="Email"/></p>
        <p><input type="password" th:field="*{password}" placeholder="Password"/></p>
        <p><input type="password" th:field="*{confirmPassword}" placeholder="Confirm password"/></p>
        <span th:if="${error}" th:text="${error}" style="color: red"></span>
        <p><input type="submit" value="Add Admin"></p>
    </form>
</div>
</body>
</html>