<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delivery</title>
    <link rel="stylesheet" th:href="@{/css/addProduct.css}">
</head>
<body>
<h2>Add product</h2>
<form th:action="@{/admin/addProduct}" th:method="POST" th:object="${product}">
    <p><input type="text" th:field="*{image}" placeholder="Image Url"/></p>
    <p><input type="text" th:field="*{productName}" placeholder="Product name"/></p>
    <p><input type="text" th:field="*{category}" placeholder="Category"/></p>
    <p><input type="number" th:field="*{price}" step="0.01" placeholder="Price"/></p>
    <p><textarea type="text" th:field="*{description}" placeholder="Description"/></p>
    <p><input type="submit" value="Add Product"/></p>
</form>
</body>
</html>