<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delivery</title>
    <link rel="stylesheet" th:href="@{/css/editProducts.css}">
</head>
<body>
<a th:href="@{/admin/addProduct}"><button class="add-product">Add product</button></a>
<h1>product console</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Product name</th>
        <th>Category</th>
        <th>Price</th>
        <th>description</th>
        <th>Product Image Url</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.productName}"></td>
        <td th:text="${product.category}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.image}"></td>
        <td>
            <form th:action="@{/admin/editProduct/{id}(id=${product.id})}" method="post">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>