<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delivery</title>
    <link rel="stylesheet" th:href="@{/css/editUsers.css}">
</head>
<body>
<a th:href="@{/admin/addAdmin}"><button class="add-admin">Add new admin</button></a>
<h1>User Console</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Year of birth</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Role</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.yearOfBirth}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.phoneNumber}"></td>
            <td th:text="${user.role}"></td>
            <td>
                <form th:action="@{/admin/editUser/{id}(id=${user.id})}" method="post">
                    <input type="hidden" name="_method" value="delete"/>
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>