<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delivery</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<div class="green-bar">
    <div class="delivery">Delivery</div>
</div>
<div class="header">
    <div class="left-link">
        <a class="edit-users" th:if="${role == 'ADMIN'}" th:href="${editUsersUrl}">
            <img src="/img/button/edit-user.png">
        </a>
        <a class="edit-products" th:if="${role == 'ADMIN'}" th:href="${editProductsUrl}">
            <img src="/img/button/edit-product.png">
        </a>
    </div>
    <div class="search-bar">
        <form th:action="@{/guest/search}" method="GET">
            <input type="text" name="query" placeholder="Search...">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="right-links">
        <div class="links">
            <span th:if="${balance != null}"><span class="balance" th:text="${balance + '$'}"></span></span>
            <button><a th:href="${loginUrl}" th:text="${role == 'USER' || role == 'ADMIN' ? 'Cart' : 'Sign In'}"></a>
            </button>
            <button><a th:href="${regUrl}" th:text="${role == 'USER' || role == 'ADMIN' ? 'Logout' : 'Sign Up'}"></a>
            </button>
        </div>
    </div>
</div>
<div calss="a">
    <button class="category"><a th:href="@{/guest/category}">Categories</a></button>
    <button class="order-history"><a th:href="@{/user/account}">Order history</a></button>
</div>
<div class="container">
    <div th:each="product : ${products}" class="product">
        <a th:href="@{/guest/productPage/{id}(id=${product.id})}" class="product-page">
            <div class="product-image-container">
                <img class="product-image" th:src="${product.image}" alt="Product Image">
            </div>
            <div class="product-name" th:text="${product.productName}"></div>
            <div class="product-price" th:text="${product.price} + ' $'"></div>
            <form th:action="@{/user/addToCart/{id}(id=${product.id})}" th:method="POST" class="addToCart-form">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                <input type="submit" value="Add to cart"/>
            </form>
            <!--            <button class="favorites">Favorites</button>-->
        </a>
    </div>
    <p th:if="${success}" class="alert alert-success" th:text="${success}"></p>
</div>
</body>
</html>