<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Delivery</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="login-form">
    <h2>Login</h2>
    <form th:method="POST" th:action="@{/guest/login}">
        <p><input type="text" name="username" id="username" placeholder="Username"></p>
        <p><input type="password" name="password" placeholder="Password"></p>
        <span class="error-message" th:if="${param.error}">Incorrect username or password</span>
        <p><input type="submit" value="Login"></p>
    </form>
</div>
<div class="href">if you don't have an account,
    <a th:href="@{/guest/reg}" class="reg">join</a>
    us</div>
</body>
</html>