<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delivery</title>
    <link rel="stylesheet" th:href="@{/css/productPage.css}">
</head>
<body>
<div class="green-bar">
    <div class="delivery"><a th:href="@{/guest/home}" class="delivery">Delivery</a></div>
</div>
<div class="header">
    <div class="search-bar">
        <form th:action="@{/guest/search}" method="GET">
            <input type="text" name="query" placeholder="Search...">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="right-links">
        <div class="links">
            <button><a th:href="${loginUrl}" th:text="${role == 'USER' || role == 'ADMIN' ? 'Cart' : 'Sign In'}"></a>
            </button>
            <button><a th:href="${regUrl}" th:text="${role == 'USER' || role == 'ADMIN' ? 'Logout' : 'Sign Up'}"></a>
            </button>
        </div>
    </div>
</div>
<div class="container">
    <h1 class="product-name" th:text="${product.productName}"></h1>
    <div class="product-image-container">
        <img class="product-image" th:src="${product.image}" alt="Product Image">
        <p class="product-description" th:text="${product.description}"></p>
    </div>
    <div class="product-info">
        <div class="product-price" th:text="${product.price} + ' $'"></div>
        <div class="product-buttons">
            <button><a th:href="@{/user/cart}"></a> Add to cart</button>
            <button><a></a>Buy now</button>
        </div>
        <div class="characteristics">
            <p>
            <div>Characteristics:</div>
            </p>
            <p>
            <div>Compound - <span th:text="${product.compound}"></span></div>
            </p>
            <p>
            <div>Storage conditions - <span th:text="${product.storage}"></span></div>
            </p>
            <p>
            <div>Manufacturer - <span th:text="${product.manufacturer}"></span></div>
            </p>
        </div>
    </div>
</div>
</body>
</html>